#crewmate {
    width: 9vh;
    height: 12vh;
    position: absolute;
    top: 0;
    left: 0;
    border: 0.6vh solid transparent;
}

.crewmate__body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #8a071d;
    border: 0.6vh solid #000;
    border-radius: 36vh 44vh 35vh 35vh;
}


.crewmate__body::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    height: 80%;
    background-color: #d9041a;
    transform: rotate(-2deg);
    border-radius: 40% 50% 36% 30%;
}

.crewmate__mask { 
    position: absolute;
    right: -1vh;
    top: 1.2vh;
    z-index: 2;

    background-color: #73989e;
    width: 6.5vh;
    height: 4.5vh;
    transform: rotate(-4deg);

    border: 0.6vh solid #000;
    border-radius: 35vh 45vh 55vh 55vh;
}

.crewmate__mask::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4.7vh;
    height: 2.5vh;
    margin: 0 0.6vh;
    background-color: #CAE8ED;
    border-radius: 30% 40% 55% 50%;
    display: inline-block;
}

.crewmate__backpack{
    position: absolute;
    left: 0;
    top: 3.25vh;
    width: 2.5vh;
    height: 6vh;
    transform: translate(-100%);
    background-color: #8a071d;
    border: 0.6vh solid #000;
    border-radius: 40% 0 0 50%;
}

.leg {
    position: absolute;
    width: 3.25vh;
    background-color: #8a071d;
    
}

.leg--left {
    height: 3vh;
    left: -0.6vh;
    bottom: 0;
    border-left: 0.6vh solid #000;

}

.leg--right {
    height: 1.6vh;
    left: 3.5vh;
    bottom: -0.2vh;
    border-right: 0.6vh solid #000;
}

.foot {
    position: absolute;
    width: 3.25vh;
    background-color: #8a071d;
    border: 0.6vh solid #000;
    border-top: none;
    border-radius: 0 0 40% 60%;
}

.foot--right {
    height: 2.5vh;
    left: 3.5vh;
    bottom: -2.5vh;
} 


.foot--left {
    height: 2.75vh;
    left: -0.6vh;
    bottom: 0;
    transform: translateY(2.8vh);
}
    
#crewmate.moving {
}

#crewmate.moving--right {
}

#crewmate.moving--left  {
    transform: scaleX(-1);
}