:root {
    --computer-desk: #503d31;
    --computer-desk-dark: #28322f;
    --computer-desk--light: #5c5849;
    --computer-screen: #4d719e;
    --computer-frame: #30313a;
    --computer-frame-dark: #000300;
    --computer-progress-bar: #167616;
    --mouse-pad: #5b756e;
    --mouse-pad-dark: #2d3c37;
    --mouse: #303437;
    --mouse-dark: #000001;
    --keyboard: #55595d;
}


#computer {
    width: 10vh;
    height: 15vh;
    position: absolute;    
    left: 0;
    top: 5vh;
}

.computer__desk {
    width: 100%;
    height: 100%;
    background-color: var(--computer-desk);
    border: solid 0.5vh var(--computer-desk-dark);
    border-left: none;
    border-radius: 0 2vh 2vh 0;
}

.computer__desk:after {
    content: "";
    width: 100%;
    height: 92%;
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    background-color:var(--computer-desk--light);
    border-radius: 0 2vh 1vh 0;
}

.computer__desk:before {
    content: "";
    width: 85%;
    height: 2vh;
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    background-color: rgba(0,0, 0, 0.3);
    border-radius: 0 0 1vh 0;
}

.computer__monitor {
    width: 1vh;
    height: 7vh;
    position: absolute;
    left: 0.5vh;
    top: 5vh;
    z-index: 101;
}

.computer__monitor__frame {
    width: 1vh;
    height: 7vh;
    position: absolute;
    left: -0.3vh;
    top: 0;
    background-color: var(--computer-frame);
    border: solid 0.25vh var(--computer-frame-dark);
    z-index: 101;
}


.computer__monitor__top {
    height: 6.7vh;
    width: 1vh;
    position: absolute;
    bottom: 100%;
    left: 1.6vh;
    background-color: var(--computer-frame);
    border: solid 0.25vh var(--computer-frame-dark);
    transform: skewX(-30deg);
}


.computer__monitor__screen {
    height: 100%;
    width: 4vh;
    position: absolute;
    top: -3.25vh;
    left: 0.5vh;
    background-color: var(--computer-screen);
    border: solid 0.25vh var(--computer-frame-dark);
    border-right-width: 0.4vh;
    border-bottom-width: 1vh;
    transform: skewY(-60deg);
}

.computer__mouse-pad {
    width: 3vh;
    height: 4vh;
    position: absolute;
    left: 4.5vh;
    top: 2.5vh;
    background-color: var(--mouse-pad);
    border-radius: 10% / 20%;
    border: solid 0.25vh var(--mouse-pad-dark);
    transform: rotate(15deg) skew(-5deg, 1deg);
    z-index: 1;
}

.computer__mouse {
    width: 1.75vh;
    height: 1.25vh;
    position: absolute;
    left: 0.5vh;
    top: 1vh;
    background-color: var(--mouse);
    border: solid 0.1vh var(--mouse-dark);
    border-radius: 100%;
}

.computer__mouse:before {
    content: "";
    width: 3vh;
    height: 2vh;
    position: absolute;
    right: 1vh;
    bottom: 0.35vh;
    border-bottom: solid 0.2vh var(--mouse-dark);
    border-radius: 0 0 50% 50%/0 0 20% 70%;
}

.computer__mouse:after {
    content: "";
    width: 0.25vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    background-color: var(--mouse-dark);
}

.computer__keyboard {
    width: 2.5vh;
    height: 4.75vh;
    position: absolute;
    left: 3.5vh;
    top: 7vh;
    background-color: var(--keyboard);   
    background-image: radial-gradient(circle, var(--mouse-dark) 20%, transparent 10%), radial-gradient(circle, var(--mouse-dark) 20%, transparent 10%);
    background-size: 0.5vh 0.5vh;
    border: solid 0.25vh var(--mouse);
    transform: rotate(35deg) skew(-5deg, -5deg);
    z-index: 1;
}

.computer__keyboard:before {
    content: "";
    width: 3.5vh;
    height: 2.2vh;
    position: absolute;
    right: 100%;
    top: 1vh;
    border-top: solid 0.25vh var(--mouse);
    border-radius: 50% 50% 0 0/20% 70% 0 0;
}

#computer.active:not(.finished) + .computer__monitor:before {
    content: "";
    display: block;
    width: 5.5vh;
    height: 12vh;
    position: absolute;
    left: -0.5vh;
    top: -6.25vh;
    background-color: yellow;
    transform: skewY(-64deg);
    border-radius: 0 5vh;
}

.monitor {
    height: 70vh;
    width: 130vh;
    padding: 2vh;
    background-color: var(--computer-frame);
    border: 1vh solid var(--computer-frame-dark)
}

.monitor__screen {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: var(--computer-screen);
    border: 1vh solid var(--computer-frame-dark);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


.monitor__loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10vh;
    -webkit-text-stroke: 0.3vh #000;
}

.monitor__screen.loaded .monitor__loading  {
    animation: slideScreenUp 0.3s;
    margin-top: -50%;
}


.monitor__loading__progress {
    width: 80vh;
    height: 6vh;
    background-color: #fff;
    border: 0.5vh solid var(--computer-frame-dark);
    border-radius: 1vh;
    position: relative;
    overflow: hidden;
}

.monitor__loading__progress__bar {
    position: absolute;
    left: -1%;
    top: -1%;
    height: 102%;
    width: 50%;
    background-color: var(--computer-progress-bar);
}

.monitor__content {
    width: 100%;
    height: 100%;
    padding: 3vh;
    font-size: 5vh;
    -webkit-text-stroke: 0.15vh #000;
}

.monitor__content__logo {
    width: 20vh;
    height: 15vh;
    margin: 3vh auto;
    background: #983434;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
    position: relative;
  }

  .monitor__content__logo:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
  }

  .monitor__content__logo__triangle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-top: 2.5vh solid transparent;
    border-left: 5vh solid #fff;
    border-bottom: 2.5vh solid transparent;
  }

@keyframes slideScreenUp {
    from {margin-top: 0;}
    to {margin-top: 50%;}
}