* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    text-align: center;
    overflow: hidden;
}
.obstacle {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 30%;
    width: 15%;
    height: 15%;
    background-color: yellow;
    z-index: 2;
}

.obstacle.active {
    background-color: orange;
}

.obstacle.finished {
    background-color: green;
}


.wall,
.ship__floor > *:not(#crewmate) {
    filter: blur(0.085vh);
}

@font-face {
    font-family: "Joff";
    src: url(./font/joff.ttf)
}