:root {
    --wall: #6a6f71;
    --wall-line--black: #171c1d;
    --wall-line--dark: #444549;
    --doors-border: #3e464a;
    --doors--dark: #41444a;
    --doors--light: #5b5e64;
}

.wall {
    height: 31%;
    display: flex;
}

.wall__part {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    background-color: var(--wall);
    height: 100%;
    border-bottom: 0.5vh solid var(--wall-line--black);
    position: relative;
}

.wall__part--center {
    width:34%;
}

.wall__part--center:before,
.wall__part--center:after {
    content: "";
    display: inline-block;
    width: 0.75vh;
    height: 100%;
    position: absolute;
    top: 0;
    border: 0.5vh solid var(--wall-line--black);
    background-color: var(--wall);
    z-index: 1;
}

.wall__part--center:before {
    right:100%;
}

.wall__part--center:after {
    left: 100%;
}

.wall__upper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7.42vh;
    border-bottom: 0.25vh solid var(--wall-line--dark);
}

.wall__upper__part {
    height: 98%;
    border: 0.25vh solid var(--wall-line--dark);
}

.wall__upper__part:nth-child(1),
.wall__upper__part:nth-child(4) {
    width: 20%;
}

.wall__upper__part:nth-child(2),
.wall__upper__part:nth-child(3) {
    width: 29%;
}

.wall__lower {
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.wall__lower__part {
    height: 98%;
    border: 0.25vh solid var(--wall-line--dark);
}

.wall__lower__part:nth-child(1),
.wall__lower__part:nth-child(3) {
    width: 24%;
}

.wall__lower__part:nth-child(2) {
    width: 50%;
}

.doors,
.doors__entrance {
    position: absolute;
    left: 50%;
    bottom: -0.5vh;
    transform: translate(-50%, 0);
    border: 0.5vh solid var(--wall-line--black);
    border-radius: 20% 20% 5% 5% / 30% 30% 10% 10%;
}

.doors {
    width: 65%;
    height: 17vh;
    background-color: var(--doors-border);
}

.doors__entrance {
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: center;
    background-color: var(--doors--light);
    background-image: 
        linear-gradient(45deg, var(--doors--dark) 25%, transparent 25%, transparent 75%, var(--doors--dark) 75%, var(--doors--dark)),
        linear-gradient(-45deg, var(--doors--dark) 25%, transparent 25%, transparent 75%, var(--doors--dark) 75%, var(--doors--dark));
    background-size: 50% 8vh;
}

.doors__center {
    height: 100%;
    width: 60%;
    position: relative;
    background-color: var(--doors--light);
    border-right: 0.25vh solid var(--wall-line--dark);
    border-left: 0.25vh solid var(--wall-line--dark);
}

.doors__center::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0.25vh;
    background-color: var(--doors--dark);
}

.doors__button {
    position: absolute;
    width: 2.5vh;
    height: 6vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--doors--light);
    border-left: 0.25vh solid var(--doors--dark);
    border-right: 0.25vh solid var(--doors--dark);
}

.doors__button:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -0.25vh;
    top: -1vh;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.25vh 1.25vh 1.25vh;
    border-color: transparent transparent var(--doors--light);
    filter: drop-shadow(0 -0.25vh 0 var(--doors--dark));
} 

.doors__button:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -0.25vh;
    bottom: -1vh;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.25vh 1.25vh 0 1.25vh;
    border-color:  var(--doors--light) transparent transparent transparent;
    filter: drop-shadow(0 0.25vh 0 var(--doors--dark));
} 

.picture {
    position: absolute;
    left: 10vh;
    top: 11vh;
    width: 12vh;
    height: 7vh;
    background-color: #fff;
    border: 0.5vh solid var(--wall-line--black);
    overflow: hidden;
}

.picture__crewmate {
    position: absolute;
}

.picture__crewmate--blue {
    top: -2.5vh;
    left: -1vh;
    transform: scale(0.6);
}

.picture__crewmate--yellow {
    top: -2vh;
    right: -1.2vh;
    transform: scale(-0.6, 0.6);
}

.picture__crewmate--pink {
    top: -1vh;
    right: 2vh;
    transform: scale(-0.4, 0.4);
}

.picture__crewmate--blue .crewmate__body {
    background-color: #3e57ce;
}

.picture__crewmate--yellow .crewmate__body {
    background-color: #ecec7d;
}

.picture__crewmate--pink .crewmate__body {
    background-color: #e56aca;
}


.picture .crewmate__body::after {
    background-color: transparent;
}