.whiteboard-container {
    position: absolute;
    left: 35vh;
    bottom: 100%;
    width: 25vh;
    height: 20vh;
    z-index: 1;
}

.whiteboard {
    width: 100%;
    height: 15vh;
    border-radius: 1vh;
}

.whiteboard__content {
    width: 96%;
    height: 95%;
    position: relative;
    top: 2.5%;
    left: 2%;
    padding: 1.5vh 1vh;
    border-radius: 1vh;
    border: solid 0.5vh #000;
    background-color: rgb(212, 212, 212);
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1vh;
    text-align: left;
}

.whiteboard.active:not(.finished) {
    background-color: yellow;
}

.whiteboard p:first-child {
    line-height: 1.3vh;
    transform: rotate(-3deg);
    text-decoration: line-through;
    padding-bottom: 0.5vh;
}

.whiteboard p:nth-child(5) {
    padding-top: 1vh;
    font-size: 0.6vh;
    transform: rotate(-3deg);
    text-align: right;
}

.whiteboard a {
    color: black;
}


/* .white */