* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    opacity: 0 !important;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    text-align: center;
    overflow: hidden;
}

body.mobile {
    width: auto;
    height: auto;
    padding: 10vw 5vw;
    overflow: initial;
    font-family: Helvetica, sans-serif;
    color: #fff;
}

body:not(.mobile) .container--mobile {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

body.mobile .container--desktop {
    display: none;
}

body.mobile h1 {    
    font-size: 10vw;
}

body.mobile section {
    margin: 10vw 0;
}

body.mobile p {   
    margin: 5vw 0;
    font-size: 6vw;
}

body.mobile a {
    color: #38CCAE;
}

.obstacle {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 30%;
    width: 15%;
    height: 15%;
    background-color: yellow;
    z-index: 2;
}

.obstacle.active {
    background-color: orange;
}

.obstacle.finished {
    background-color: green;
}


.wall,
.ship__floor > *:not(#crewmate) {
    filter: blur(0.085vh);
}

@font-face {
    font-family: "Joff";
    font-display: swap;
    src: url(./font/joff.ttf)
}


@font-face {
    font-family: "VCR";
    font-display: swap;
    src: url(./font/vcr.ttf)
}
