:root {
    --desk: #747f8e;
    --desk-shadow: #5c6168;
    --desk-dark: #171b1b;
    --screen: #020204;
    --screen-text: #22b455;
    --note: #f5db60;
    --note-dark: #e7bc52;
}

#panel {
    position: absolute;
    bottom: 13em;
    right: -12.5em;
    width: 35em;
    height: 10em;
    transform: rotate(-90deg) scale(-0.8, -1);
    filter: blur(1px);
    border: 0.5em solid transparent;
    border-radius: 0 0 2em 2em;
    border-top: none;
    font-size: 1vh;
    pointer-events: none;
}

#panel.active:not(.finished):before {
    content: "";
    height: 102%;
    width: 93%;
    position: absolute;
    left: -0.75em;
    top: 0.1em;
    background-color: yellow;
    border-radius: 0 0 2em 2em;
}

.panel__desk {
    width: 30em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--desk-shadow);
    border: 0.25em solid var(--desk-dark);
    border-top: none;
    border-radius: 0 0 2em 2em;
    position: relative;
}

.panel__desk:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 95%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--desk);
    border-radius: 0 0 2em 2em;
}

.panel__desk:after {
    content: "";
    display: inline-block;
    height: 85%;
    width: 3em;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 2em 0;
}

.panel__part {
    height: 80%;
    overflow: hidden;
}

.panel__part--left {
    width: 20%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.panel__slider {
    width: 0.15em;
    height: 100%;
    background-color: var(--desk-dark);
    position: relative;
}

.panel__slider:after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 1.5em;
    position: absolute;
    left: -50%;
    transform: translate(-0.35em, -50%);
    background-color: var(--desk);
    border: 0.25em solid var(--desk-dark);
    border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
}

.panel__slider:nth-child(1):after {
    top: 20%;
}

.panel__slider:nth-child(2):after {
    top: 61%;
}

.panel__slider:nth-child(3):after {
    top: 71%;
}

.panel__slider:nth-child(4):after {
    top: 35%;
}

.panel__slider:nth-child(5):after {
    top: 51%;
}

.panel__part--center {
    width: 40%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1em;
    background-color: var(--screen);
    border: 0.25em solid var(--desk-dark);
    border-radius: 25% 25% 10% 10% / 25% 25% 25% 25%;
    font-family: "VT323", monospace;
    color: #22b455;
    z-index: 1;
}

.panel__part--right {
    width: 25%;
    height: 90%;
    padding: 0.25em 0.5em;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.panel__button {
    width: 50%;
    height: 2em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.panel__link {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 100%;
    background-color: rgb(121, 38, 38);
    border: 0.25em solid var(--desk-dark);
    text-decoration: none;
}

.panel__note {
    width: 2.5em;
    height: 0.5em;
    display: inline-block;
    position: absolute;
    top: -1.5em;
    left: 0;
    background-color: var(--note-dark);
    border: 0.125em solid var(--desk-dark);
    border-bottom: none;
}

.panel__note:after {
    content: "";
    width: 100%;
    height: 2em;
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: var(--note);
    border: 0.25em solid var(--desk-dark);
    border-top: none;
    transform: skewX(13deg);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 0.5em;
    overflow: hidden;
}

.panel__note--facebook {
    transform: rotate(-5deg);
}

.panel__note--mail {
    transform: rotate(7deg);
}

.panel__note--li {
    left: 0.25em;
    transform: rotate(4deg);
}

.panel__note--twitter {
    transform: rotate(-8deg);
}

.panel__note--facebook:after {
    content: "fb";
}

.panel__note--mail:after {
    content: "email";
}

.panel__note--li:after {
    content: "linkedIn";
    font-size: 0.45em;
}

.panel__note--twitter:after {
    content: "twitter";
}

.task--panel {
    width: 30em;
    height: 10em;
    border: 0.5em solid transparent;
    border-radius: 0 0 2em 2em;
    font-size: 4vh;
    filter: blur(0.01em);
}

.task--panel .panel__desk {
    border-top: 0.25em solid var(--desk-dark);
    background-color: var(--desk);
    width: auto;
}

.task--panel .panel__desk:before,
.task--panel .panel__desk:after {
    content: none;
}

.task--panel .panel__part--right {
    margin-right: none;
}

.task--panel .panel__link {
    cursor: pointer;
}
