:root {
    --ship-dark: #0d1313;
    --ship-inner-border: #151a18;
    --ship-outer-border-dark: #1f2827;
    --ship-outer-border-light: #2a3335;
    --ship-wing: #111f28;
    --floor: #515c60;
    --floor-line: #7a7256;
    --stair-dark: #4e565f;
    --stair-light: #677076;
    --floor-light-line: rgba(0,0,0,0.05);
    --floor-dark-line: rgba(0,0,0,0.1);
    --floor-darker-line: rgba(0,0,0,0.2);
    --corridor: #576266;
    --corridor-light: #6d7b7d;
    --corridor-nail: rgb(75, 75, 75);
    --row-light: #687176; 
}

.ship__container {
    position: relative;
    height: 100vh;
}

.ship__wing {
    position: absolute;
    top: 5vh;
    width: 7.5vh;
    height: 12vh;
    transform: skewY(-45deg);
    background-color: var(--ship-outer-border-dark);
    border: 1vh solid var(--ship-inner-border);
    border-right: none;
    border-top-left-radius: 10vh;
}

.ship__wing--left {
    right: 100%;
}

.ship__wing--right {
    transform: skewY(45deg) scaleX(-1);
    left: 100%;    
}

.ship__engine {
    position: absolute;
    bottom: 0;
    width: 25vh;
}

.ship__engine--left {
    right: 100%;
    transform: rotate(3deg);
    animation: shakeLeft 0.75s linear infinite;
}

.ship__engine--right {
    left: 100%;
    transform: rotate(-3deg) scaleX(-1);
    animation: shakeRight 0.75s linear infinite;

}

.ship__engine__front {
    position: absolute;
    left: 0;
    bottom: -3vh;
    width: 15vh;
    height: 25vh;
    display: flex;
    justify-content: center;
    background-color: var(--ship-outer-border-light);
    border: 0.25vh solid var(--ship-inner-border);
    transform: skewY(-15deg);
    overflow: hidden;
}

.ship__engine__front:before {
    content: "";
    width: 10vh;
    height: 3vh;
    border: 0.25vh solid rgba(0, 0, 0, 0.5);
    border-top: none;
    background-color: var(--ship-outer-border-dark);
}

.ship__engine__side {
    position: absolute;
    left: 15vh;
    bottom: -2vh;
    width: 7vh;
    height: 25vh;
    background-color: var(--ship-outer-border-dark);
    border: 0.25vh solid var(--ship-inner-border);
    border-left: none;
    transform: skewY(15deg);
}

.ship__engine__arm {
    position: absolute;
    left: 18vh;
    bottom: -2vh;
    width: 7vh;
    height: 10vh;
    background-color: var(--ship-outer-border-dark);
    border: 0.5vh solid var(--ship-inner-border);
    transform: skewY(15deg) rotate(-3deg);
}

.ship__trunk {
    position: absolute;
    width: 110vh;
    height: 80vh;
    background-color: var(--ship-outer-border-dark);
    border-top: none;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}


.ship__trunk__upper {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 20vh;
    border-left: 20vh solid transparent;
    border-right: 20vh solid transparent;
    border-bottom: 115vh solid var(--ship-outer-border-dark);
    margin: 20vh auto 0;
}

.ship__trunk--outer {
    width: 111vh;
    background-color: var(--ship-inner-border);
}

.ship__trunk--outer .ship__trunk__upper {
    border-bottom-color: var(--ship-inner-border);
}

.ship__trunk--inner {
    bottom: 6vh;
    width: 103vh;
    height: 74vh;
    background-color: var(--ship-outer-border-light);
}

.ship__trunk--inner .ship__trunk__upper {
    border-bottom: 200vh solid var(--ship-outer-border-light);
}

.ship__trunk__lower {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: 5vh;
    border-left: 3.5vh solid transparent;
    border-right: 3.5vh solid transparent;
    border-bottom: 5vh solid var(--ship-inner-border);
}

.ship__trunk__lower--inner {
    position: absolute;
    top: 1vh;
    left: 50%;
    width: 105%;
    transform: translateX(-50%);
    height: 4vh;
    
    border-left: 3.5vh solid transparent;
    border-right: 3.5vh solid transparent;
    border-bottom: 5vh solid var(--ship-outer-border-dark);
}

.ship {
    background-color: var(--ship-dark);
    border: 2vh solid var(--ship-inner-border);
    height: 92.6vh;
    width: 100vh;
    display: inline-block;
    position: relative;
    /* animation: shake 0.3s infinite; */
}


.floor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: indigo;
    height: 69%;
    background-color: var(--floor-line);
    z-index: 1;
}

.floor__upper-part {
    width: 100%;
    height: 23.8vh;
    position: relative;
}

.floor__corridor {
    width: 19.5%;
    height: 100%;
    position: absolute;
    right: 6.5vh;
    top: 0;
    background-color: var(--corridor);
    border-left: 1.5vh solid var(--floor-light-line);
    border-right: 1.5vh solid var(--floor-light-line);

}

.floor__corridor::before,
.floor__corridor::after {
    content: "";
    display: block;
    width: 1vh;
    height: 100%;
    position: absolute;
    top: 0;
    border: 0.25vh solid var(--floor-darker-line);
    background-color: var(--corridor-light);
}

.floor__corridor::before {
    left: -2.5vh;
}

.floor__corridor::after {
    right: -2.5vh;
}

.floor__corridor__tail {
    width: 100%;
    height: 30%;
    border-top: 0.2vh solid var(--floor-dark-line);
    border-bottom: 0.2vh solid var(--floor-dark-line);
    position: relative;
}

.floor__corridor__tail:before,
.floor__corridor__tail:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5vh;
    position: absolute;
    background-color: red;
    left: 0;
    background:
        radial-gradient(var(--corridor-nail) 15%, transparent 16%) 0 0,
        radial-gradient(var(--corridor-nail) 15%, transparent 16%) 1vh 1vh;
    background-size: 2vh 2vh;
}

.floor__corridor__tail:before {
    top: 0.3vh;
}

.floor__corridor__tail:after {
    bottom: 0;
}

.floor__row {
    width: 100%;
    height: 33.3%;
    background-color: var(--row-light);
    border-top: 0.5vh solid var(--floor-dark-line);
    border-bottom: 0.5vh solid var(--floor-dark-line);
    position: relative;
}

.floor__row:before,
.floor__row:after {
    content: "";
    display: block;
    width: 100%;
    height: 2vh;
    position: absolute;
    left: 0;
    background:
        radial-gradient(var(--floor-light-line) 49%, transparent 50%) 0 0,
        radial-gradient(var(--floor-light-line) 49%, transparent 50%) 1vh 2vh;
    background-size: 1vh 2vh;
}

.floor__row:before {
    top: 0;
    border-bottom:  0.1vh solid var(--floor-dark-line);
}

.floor__row:after {
    bottom: 0;
    border-top: 0.1vh solid var(--floor-dark-line);
}

.floor__stairs {
    box-sizing: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    background-color: var(--stair-dark);
    z-index: 1;
    border-top: 0.5vh solid var(--floor-dark-line);
    border-bottom: 0.5vh solid var(--floor-dark-line);
}

.floor__stairs:after,
.floor__stairs:before {
    content: "";
    display: block;
    width: 100%;
    height: 18%;
    background-color: var(--stair-light);
    position: absolute;
    left: 0;
    box-sizing: initial;
}

.floor__stairs:after {
    top: 20%;
}

.floor__stairs:before { 
    bottom: 20%;
}

.floor__tails {
    width: 100%;
    height: 37.3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.floor__tail {
    width: 19.5%;
    height: 30%;
    margin-bottom: 0.5%;
    background-color: var(--floor);
    position: relative;
}

.floor__tail::after {
    content: "";
    display: block;
    position: absolute;
    left: 2%;
    top: 5%;
    bottom: 5%;
    right: 2%;
    border: 0.5vh solid var(--floor-dark-line);
}

#cube {
    display: none;
    position: absolute;
    left: 55vh;
    bottom: 0;
    width: 15vh;
    height: 15vh;
    z-index: 101;
}

.cube {
    position: absolute;
    left: 50%;
    top: 6vh;
    z-index: 1;
    animation: spin 5s infinite linear;
}

.cube__part {
    position: absolute;
    width: 8vh;
    height: 8vh;
    border: 0.25vh solid #1b2723;
}

.cube__part--1 {
    bottom: top;
    right: -1vh;
    background-color: #5a8270;
    transform: skewY(20deg) scaleX(0.75);
}

.cube__part--2 {
    top: 0;
    left: -1vh;
    background-color: #3f615a;
    transform: skewY(-20deg) scaleX(0.75);
}

.cube__container {
    transform: scale(1.05, 0.5);
}

.cube__part--3 {
    bottom: -2vh;
    left: -4vh;
    background-color: #2a4d4a;
    transform: rotate(45deg);
}

.floor__platform {
    position: absolute;
    left: 47.5vh;
    bottom: 0;
    width: 20vh;
    height: 10vh;
    border: 0.25vh solid var(--ship-inner-border);
    background: repeating-linear-gradient(-45deg, #e1c646, #e1c646 1vh, var(--ship-inner-border) 1vh, var(--ship-inner-border) 2vh);
    overflow: hidden;
    filter: blur(0.085vh);
    z-index: 1;
}

.floor__platform:after {
    content: "";
    position: relative;
    top: 10%;
    left: 0;
    display: inline-block;
    width: 90%;
    height: 95%;
    border: 0.25vh solid var(--ship-inner-border);
    background: repeating-linear-gradient(45deg, var(--corridor-light), var(--corridor-light) 0.9vh, var(--ship-outer-border-light) 0.9vh, var(--ship-outer-border-light) 1vh);
}

.vent {
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    width: 9vh;
    height: 6vh;
    padding: 0.5vh 0.75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 0.5vh solid var(--ship-dark);
    border-radius: 1vh 1vh 1vh 1vh / 1.5vh 1.5vh 10% 10%;
    background-color: var(--stair-light);
    z-index: 10;
}

.vent__stripe {
    width: 100%;
    height: 0.25vh;
    background-color: var(--stair-dark);
}

@keyframes shakeLeft {
    0% {transform:translateY(-0.15vh) rotate(3deg)}
    10% {transform: translateY(-0.5vh) rotate(3deg)}
    20% {transform: translateY(-0.55vh) rotate(3deg)}
    30% {transform: translateY(-0.85vh) rotate(3deg)}
    40% {transform: translateY(-1vh) rotate(3deg)}
    50% {transform: translateY(-1.2vh) rotate(3deg)}
    60% {transform: translateY(-1.5vh) rotate(3deg)}
    70% {transform: translateY(-1.3vh) rotate(3deg)}
    80% {transform: translateY(-1vh) rotate(3deg)}
    90% {transform: translateY(-0.5vh) rotate(3deg)}
    60% {transform: translateY(-0.3vh) rotate(3deg)}
}

@keyframes shakeRight {
    0% {transform:translateY(-0.15vh) rotate(-3deg) scaleX(-1)}
    10% {transform: translateY(-0.5vh) rotate(-3deg) scaleX(-1)}
    20% {transform: translateY(-0.55vh) rotate(-3deg) scaleX(-1)}
    30% {transform: translateY(-0.85vh) rotate(-3deg) scaleX(-1)}
    40% {transform: translateY(-1vh) rotate(-3deg) scaleX(-1)}
    50% {transform: translateY(-1.2vh) rotate(-3deg) scaleX(-1)}
    60% {transform: translateY(-1.5vh) rotate(-3deg) scaleX(-1)}
    70% {transform: translateY(-1.3vh) rotate(-3deg) scaleX(-1)}
    80% {transform: translateY(-1vh) rotate(-3deg) scaleX(-1)}
    90% {transform: translateY(-0.5vh) rotate(-3deg) scaleX(-1)}
    60% {transform: translateY(-0.3vh) rotate(-3deg) scaleX(-1)}
}

@keyframes spin {
    form {transform: rotate(0)}
    to {transform: rotate(360deg)}
}