:root {
    --table: #503d31;
    --table--light: #5c5849;
    --papper-dark: #28322f;
    --paper: #c2bfbf;
}


#table {
    width: 20vh;
    height: 10vh;
    position: absolute;
    left: 40vh;
    top: 7vh;
}

.table__top {
    width: 100%;
    height: 7vh;
    position: relative;
    border-radius: 100%;
    background-color: var(--table--light);
    border: 0.5vh solid var(--table);
}

.table__leg {
    width: 2vh;
    height: 8.5vh;
    position: absolute;
    top: 3.5vh;
    background-color: var(--table--light);
    border: 0.5vh solid var(--table);
    border-radius: 0 0 0.75vh 0.75vh;
}

.table__leg--left {
    left: 2vh;
}

.table__leg--center {
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.table__leg--right {
    right: 2vh;
}

.table__page {
    width: 3vh;
    height: 5vh;
    position: absolute;
    left: 8vh;
    top: 0.5vh;
    background-color: var(--paper);
    border: 0.15vh solid var(--papper-dark);
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 0.3vh;
    z-index: 1;
}

.table__page--front {
    transform: rotate(-100deg);
}

.table__page--back {
    transform: rotate(-87deg);
}

#table.active:not(.finished) .table__top:before,
#table.active:not(.finished) .table__top:after {
    content: "";
    display: inline-block;
    width: 3vh;
    height: 5vh;
    position: absolute;
    left: 8vh;
    top: 0.5vh;
    background-color: yellow;
}

#table.active:not(.finished) .table__top:before {
    transform: scale(1.3) rotate(-100deg);    
}

#table.active:not(.finished) .table__top:after {
    transform: scale(1.3) rotate(-87deg);
}

.task--table {
    height: 80vh;
    width: 80vh;
}

.task--table .table__page,
.table__page__border {
    left: 50%;
    top: 50%;
    width: 55vh;
    height: 75vh;
    font-size: 2vh;
    text-align: left;
    padding: 2vh;
}

.task--table .table__page--front {
    transform: translate(-50%, -50%) rotate(-3deg);
}

.task--table .table__page--back {
    transform: translate(-40%, -50%) rotate(15deg);
    cursor: pointer;
}

.table__page__border {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 55vh;
    height: 75vh;
}

.task--table:not(.flipped) .table__page--back:hover ~ .table__page__border {
    transform: translate(-40%, -50%) rotate(15deg) scale(1.05);
    background-color: yellow;
}

.task--table.flipped .table__page--front {
    cursor: pointer;
    z-index: 2;
}

.task--table.flipped .table__page--back {
    cursor: default;
    z-index: 3;
}

.task--table.flipped .table__page__border {
    z-index: 1;
}

.task--table.flipped .table__page--front:hover ~ .table__page__border {
    transform: translate(-50%, -50%) rotate(-3deg) scale(1.05);
    background-color: yellow;
}