:root {
    --close-dark: #333;
    --close-light: #eee;
    --close-border: #869193;
}

#task__wrapper,
#task__wrapper.hidden {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 130%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
}

#task__wrapper.active {
    top: 0;
    animation: slideUp 0.15s;
}

#task__wrapper.hidden { 
    animation: slideDown 0.15s;
}

.task {
    display: none;
}

.task.active {
    display: block;
}

.task__content {
    position: relative;
}

.task__close {
    position: absolute;
    right: 100%;
    top: 0;
    width: 4vh;
    height: 4vh;
    font-weight: 700;
    font-size: 4vh;
    line-height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--close-dark);
    cursor: pointer;
    background-color: var(--close-border);
    border: 0.1vh solid var(--close-dark);
    border-radius: 100%;
    z-index: 100;
    filter: blur(0.05vh);
}

.task__close span {
    width: 3.5vh;
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--close-light);
    border: 0.1vh solid var(--close-dark);
    border-radius: 100%;
    z-index: 100;
}

.task__prompt {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    font-family:"Varela", Arial, Helvetica, sans-serif;
    font-size: 10vh;
    color: #fff;
    -webkit-text-stroke: 0.3vh #000;
    z-index: 100;
}

.task__prompt.active {
    animation: slideFromBottom 1.5s;
}

.tasks__progress {
    position: absolute;
    top: 3vh;
    left: 1.5vh;
    width: 65vh;
    height: 5.5vh;
    padding: 0.35vh;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5vh solid #000;
}

.tasks__progress__background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #2e402e;
}

.tasks__progress__bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #40aa40;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.tasks__progress__bar--1-finished {
    width: 25%;
    animation-name: finish1;
}

.tasks__progress__bar--2-finished {
    width: 50%;
    animation-name: finish2;
}

.tasks__progress__bar--3-finished {
    width: 75%;
    animation-name: finish3;
}

.tasks__progress__bar--4-finished {
    width: 100%;
    animation-name: finish4;
}

.tasks__progress__text-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0.25vh 1vh;
    display: block;
    text-align: left;
    color: #fff;
    -webkit-text-stroke: 0.095vh #000;
    font-family: "Varela", Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    z-index: 1;
}

.tasks__progress__text {
    position: relative;
}

.tasks-list {
    position: absolute;
    top: 10vh;
    left: 2vh;
    width: 50vh;
    padding: 1vh 2vh;
    background-color: rgba(200, 200, 200, 0.3);
    color: #fff;
    -webkit-text-stroke: 0.095vh #000;
    font-family: "Varela", Arial, Helvetica, sans-serif;
    font-size: 3vh;
    list-style: none;
    text-align: left;
    transition: transform 0.2s linear;
    z-index: 100;
}

.tasks-list.hidden {
    transform: translateX(-52vh);
}

.tasks-list__item.finished {
    color: green;
}

.tasks-list__button {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 2vh 1vh;
    background-color: rgba(200, 200, 200, 0.3);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
}

.tasks-list__button span {
    display: block;
    transform: rotate(180deg)
}

@keyframes finish1 {
    from {width: 0%;}
    to {width: 25%;}
}

@keyframes finish2 {
    from {width: 25%;}
    to {width: 50%;}
}

@keyframes finish3 {
    from {width: 50%;}
    to {width: 75%;}
}

@keyframes finish4 {
    from {width: 75%;}
    to {width: 100%;}
}

@keyframes slideUp {
    from {top: 100%;}
    to {top: 0;}
}

@keyframes slideDown {
    from {top: 0;}
    to {top: 100%;}
} 

@keyframes slideFromBottom {
    0% {top: 100%;}
    12% {top: 40%;}
    88% {top: 40%;}
    100% {top: -10%;}
} 