:root {
    --lamp-border: #171c1d;
    --lamp: #515c60;
    --switch-border: #202628;
    --switch-bg: #4b5359;
    --switch-light: #778f94;
    --switch-dark: #475c60;
    --switch-shade: #778f94;
}

.whiteboard-container {
    font-size: 1vh;
    position: absolute;
    left: 33em;
    bottom: 100%;
    width: 30em;
    height: 20em;
    z-index: 1;
}

.whiteboard {
    width: 100%;
    height: 15em;
    border-radius: 1em;
    filter: blur(0.085vh);
}

.whiteboard__lamp {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lamp);
    border: 0.15em solid var(--lamp-border);
    filter: blur(0.015em);
    z-index: 1;
}

.whiteboard__lamp__light {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 15em;
    height: 0.75em;
    background-color: #5d5656;
    border: 0.1em solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.whiteboard__lamp__switch {
    position: relative;
    width: 3em;
    height: 1em;
    transform: scaleX(-1);
    background-color: var(--switch-bg);
    border: 0.05em solid var(--switch-border);
}

.whiteboard__lamp__switch__button {
    position: absolute;
    top: -0.01em;
    width: 1.5em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.05em solid var(--switch-border);
    overflow: hidden;
}

.whiteboard__lamp__switch__on,
.whiteboard__lamp__switch__off {
    font-size: 0.5vh;
    font-family: Helvetica, sans-serif;
}

.whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--left
    .whiteboard__lamp__switch__on,
.whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--right
    .whiteboard__lamp__switch__off {
    display: inline-block;
}

.whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--left
    .whiteboard__lamp__switch__off,
.whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--right
    .whiteboard__lamp__switch__on {
    display: none;
}

.whiteboard__lamp__switch__button--left {
    left: -0.05em;
    top: -0.35em;
    transform: skewY(5deg);
    background-color: var(--switch-light);
}

.whiteboard__lamp__switch__button--left:after,
.whiteboard__lamp__switch__button--right:after {
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    width: 10%;
    height: 80%;
    border: 0.05em solid var(--switch-border);
}

.whiteboard__lamp__switch__button--left:after {
    left: 5%;
    border-right: none;
}

.whiteboard__lamp__switch__button--right:after {
    right: 5%;
    border-left: none;
}

.whiteboard__lamp__switch__button--right {
    right: -0.05em;
    top: -0.2vh;
    background-color: var(--switch-dark);
}

.whiteboard.active:not(.finished) {
    background-color: yellow;
}

.whiteboard__content {
    width: 96%;
    height: 95%;
    position: relative;
    top: 2.5%;
    left: 2%;
    padding: 0.75em 1em;
    border-radius: 1em;
    border: 0.5em solid #000;
    background-color: rgb(212, 212, 212);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1em;
    text-align: left;
    overflow: hidden;
}

.whiteboard__content:after {
    content: "";
    display: block;
    position: absolute;
    left: -1%;
    top: -1%;
    width: 102%;
    height: 102%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 60%,
        rgba(253, 187, 45, 0) 140%
    );
}

.whiteboard__content__text {
    line-height: 1.5em;
}

.whiteboard__content__text:first-child {
    transform: rotate(-3deg);
    padding-bottom: 0.5em;
}

.whiteboard__content__text--note {
    padding-top: 0;
    transform: rotate(-3deg);
    font-size: 0.6em;
    text-align: right;
    position: relative;
}

.whiteboard__content__text__star {
    position: absolute;
    left: 101%;
    top: 50%;
    display: block;
    color: #000;
    width: 0px;
    height: 0px;
    border-right: 1vh solid transparent;
    border-bottom: 0.7vh solid #000;
    border-left: 1vh solid transparent;
    transform: rotate(35deg);
}

.whiteboard__content__text__star:before {
    border-bottom: 0.8vh solid #000;
    border-left: 0.3vh solid transparent;
    border-right: 0.3vh solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45vh;
    left: -0.65vh;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.whiteboard__content__text__star:after {
    position: absolute;
    display: block;
    color: #000;
    top: 0.03vh;
    left: -1.05vh;
    width: 0;
    height: 0;
    border-right: 1vh solid transparent;
    border-bottom: 0.7vh solid #000;
    border-left: 1vh solid transparent;
    transform: rotate(-70deg);
    content: "";
}

.whiteboard__content__link {
    color: black;
}

.task--whiteboard {
    height: 60vh;
    width: 120vh;
    font-size: 4vh;
}

.task--whiteboard .whiteboard__lamp__switch {
    cursor: pointer;
}

.task--whiteboard .whiteboard__lamp__switch__button--left {
    top: -0.45vh;
}

.task--whiteboard .whiteboard__lamp__switch__on,
.task--whiteboard .whiteboard__lamp__switch__off {
    font-size: 2.5vh;
    opacity: 0.75;
}

.light-on .whiteboard__lamp__switch {
    transform: scaleX(1);
}

.light-on .whiteboard__lamp__light {
    background-color: rgb(253 187 45);
    box-shadow: 0 1em 3.5em 0.5em rgb(253 187 45);
}

.light-on .whiteboard__content {
    background: linear-gradient(
        0deg,
        rgb(255 255 255) 35%,
        rgb(253 187 45) 143%
    );
}

.light-on .whiteboard__content:after {
    content: none;
}

.light-on
    .whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--left
    .whiteboard__lamp__switch__on,
.light-on
    .whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--right
    .whiteboard__lamp__switch__off {
    display: none;
}

.light-on
    .whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--left
    .whiteboard__lamp__switch__off,
.light-on
    .whiteboard__lamp__switch
    .whiteboard__lamp__switch__button--right
    .whiteboard__lamp__switch__on {
    display: inline-block;
}
