.tasks-list {
    position: absolute;
    top: 5vh;
    left: 2vh;
    width: 50vh;
    padding: 1vh 2vh;
    background-color: rgba(200, 200, 200, 0.3);
    color: #fff;
    font-family: "Varela", Arial, Helvetica, sans-serif;
    font-size: 3vh;
    -webkit-text-stroke: 0.095vh #000;
    list-style: none;
    text-align: left;
    transition: transform 0.2s linear;
    z-index: 100;
}

.tasks-list.hidden {
    transform: translateX(-52vh);
}

.tasks-list__item.finished {
    color: green;
}

.tasks-list__button {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 2vh 1vh;
    background-color: rgba(200, 200, 200, 0.3);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
}

.tasks-list__button span {
    display: block;
    transform: rotate(180deg)
}

