.tasks-list {
    position: absolute;
    top: 5vh;
    left: 0;
    padding: 1vh 2vh;
    font-size: 2.5vh;
    background-color: rgba(100, 100, 100, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    -webkit-text-stroke: 0.095vh #000;
    z-index: 100;
    list-style: none;
}

.tasks-list-item.finished {
    color: green;
}

